@import url("https://use.typekit.net/jmk3xov.css");

:root {
    --dark-bg: rgba(15, 15, 15, 0.98);
    --spacing: 350px;
  
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}

#navbar {
    grid-column:1/13; 
    margin-bottom:0px;
    background-color:rgba(2, 2, 2, 0.80)
}

.fullBlock {
    grid-column: 1/13;
    /* height:400px; */
    background: var(--dark-bg);
    font-size: 2.5rem;
    /* padding: 2rem; */
    padding-left:7%;
    padding-top:7%;
    padding-right:7%;
    margin-bottom: var(--spacing);
}


* {
    margin-top: 0px;
    margin-bottom: 0px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  /* padding: px 0px; */
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

body {
    margin: 0;
}


section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
}

blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
}

blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
}

h1, h2, h3, blockquote {
    font-family: elevon, sans-serif;
    font-weight: 700;
    font-style: normal;
}

ul {
    margin-top:20px;
    margin-bottom: 20px;
}

li {
    font-size:25px;
    margin-bottom: 5px;
}
h4 {
    color: #5ec9cc;
}

button {
    text-decoration: none;
    border: 3px solid #5ec9cc;
    border-radius: 3px;
    width: 300px;
    height:50px;
    background-color: #5ec9cc;
    box-shadow: inset 0 0 0 0 #00263e; 
    transition: ease-out 0.1s;
    font-weight:bolder;
    font-size: 20px;
    margin-top:10px;
}
button:hover {
    border: 3px solid #00263e;
    box-shadow: inset 300px 0 0 0 #00263e; 
    cursor:pointer;
    color: #000;
}

/* body > div {
    display: view;
    flex-flow: column;
    justify-content: center;
} */
/* @media (min-with:481px) {
    h4 {
        color:green;
    }
    li {
        font-size: 15px;
    }
}
 */

