#deskImg {
    display:none;
}

header{
    margin-top: 90px;
    margin-bottom: 300px;
    /* height:350px; */
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
header h5,h4 {
    font-size: 25px;
    text-align: center;
}
#ChooseUs {
    margin-bottom: 400px;
}
#courses {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-flow:column;
}
#py101 {
    display: flex;
    justify-content: center;
    flex-flow:column;
    margin-bottom: 400px;
}
#t1 {
    font-size:30px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top:15px;
}

#t2 {
    display: none;
}
#t3{
    font-size: 25px;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 25px;
}


#t4 {
    margin-top: 15px;
    margin-bottom: 25px;
}
.t5 {
    font-size:20px;
}


#aboutDimaBlock {
    display: flex;
    flex-flow: column;
    align-items: center;
}
#dimaImg {
    width:75%;
    margin-top: 25px;
    margin-bottom: 25px;
}
#centeringDiv{
    display:flex;
    justify-content:center
}

button {
    width:200px;
}
