header{
    margin-top: 90px; 
    margin-bottom: 700px; 
    height:800px;
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

header img {
    float:right;
}
header h5,h4 {
    /* font-size: 25px; */
    text-align: center;
}
.fullBlock {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-bottom: 50px;
}

#t1_1 {
    display: none;
}
#t1_2 {
    width: 100%;
    text-align: center;
}
#t2 {
    text-align: center;
    color:rgb(163, 163, 163);
    font-size:20px;
    margin-bottom: 35px;
}
#t3_1{
    display: none;
 
}
#t3_2{
    margin-top: 25px;
    margin-bottom: 25px;
    color:rgb(200, 200, 200);
}

#t4_1 {
display: none;
}
#d1 {
    width:50%;
}
#t1_1 {
    display: block;
}

#aboutDimaBlock {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#aboutDimaBlock h4, h5 {
    text-align: center;
}

#dimaImg {
    margin-top: 25px;
    width:50%;
}
