$teal: #36a0d4;
$blue2: #00263e;
$g1: black;
$white1: white;
:root {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}
html {
    padding:0px;
    margin:0px;
    background-color:black;
    scroll-behavior: smooth;

}
body {
    margin:0px;
    padding:0px;
}
div {
    margin:0px;
    background-color: $white1;
}
h5 {
  margin:0px;
}
form {
  display:flex;
  flex-flow: column;
}

@keyframes smooth_to_square {
    from {
      border-radius:25px;
      margin-top:50px;
      // margin:10px;
      margin-left:10px;
      margin-right:10px;
    }
    to {
      border-radius:0px;
      margin:0px;
    }
  }
.smooth_to_square_0 {
  animation: smooth_to_square 2s;
}
.smooth_to_square_1 {
  animation-delay: 0.25s;
  animation: smooth_to_square 2s;
}
.smooth_to_square_2 {
  animation-delay: 0.5s;
  animation: smooth_to_square 2s;
}

#div1 {
  display:flex; justify-content:center; align-items:center; overflow:auto; margin-top:15px
}

.title-text {
  color: $teal;
  text-align: center;
  font-size: 70px;
  margin:0px;
}

button {
  text-decoration: none;
  border: 3px solid $teal;
  border-radius: 3px;
  width: 300px;
  height: 50px;
  background-color: $teal;
  box-shadow: inset 0 0 0 0 $blue2;
  transition: ease-out 0.1s;
  font-weight: bolder;
  font-size: 20px;
}
button:hover {
  border: 3px solid $blue2;
  box-shadow: inset 300px 0 0 0 $blue2;
  cursor: pointer;
  color: #000;
}

